.search-form__input {
  background-color: #fff;
  margin: 0 0 56px;
  width: 100%;
  min-width: 308px;
  height: 48px;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  color: rgba(98, 98, 98, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.search-form__input:hover {
  opacity: 50%;
}
